<h4 class="mr-3">CRUD with API</h4>
<hr>

<div class="container">
    <div class="row">
        <div class="col-6">
            <form [formGroup]="apiForm" (ngSubmit)="postData(apiForm.value)">

            <div class="form-group">
                    <label for="">User Id</label>
                    <input type="text" formControlName="userId" placeholder="Enter userId"  class="form-control">
                    <span class="text-danger" *ngIf="(apiForm.get('userId')?.touched || submitted) && apiForm.get('userId')?.errors?.['required']">
                        User Id is required
                    </span>
            </div>

             <div class="form-group">
                <label for="">Title</label>
                <input type="text" formControlName="title" placeholder="Enter Title"  class="form-control">
                <span class="text-danger" *ngIf="(apiForm.get('title')?.touched || submitted) && apiForm.get('title')?.errors?.['required']">
                    Title is required
                </span>
             </div>

             <div class="form-group">
                <label for="">Body</label>
                <input type="text" formControlName="body" placeholder="Enter body" class="form-control">
                <span class="text-danger" *ngIf="(apiForm.get('body')?.touched || submitted) && apiForm.get('body')?.errors?.['required']">
                    Body is required
                </span>
             </div>

             <button class="btn btn-secondary">Add post</button>
            </form>
        </div>
    </div>
</div>
<hr>


<div class="d-flex m-3">
    <input class="mr-2" type="number" [(ngModel)]="postId" name="postId" id="postId">
    <button class="mr-2 btn btn-primary"  (click)="getDataById()">Get Post</button>
    <button class="btn btn-success" (click)="getAllData()">Get All Post</button>
</div>

<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>userId</th>
            <th>Title</th>
            <th>Body</th>
            <th>Action</th>
        </tr >
    </thead>
    <tbody>
        <tr *ngFor="let item of apiData">
            <td>{{item.id}}</td>
            <td>{{item.userId}}</td>
            <td>{{item.title}}</td>
            <td>{{item.body}}</td>
            <td class="d-flex m-3"><button class="mr-2 btn btn-primary" (click)="onEdit(item)">Edit</button>
                <button class="mr-2 btn btn-danger" (click)="deleteData(item.id)">Delete</button>
            </td>
        </tr>
    </tbody>
</table>
