
<h2>filter()</h2>
<h3>Data</h3>
<div>{{filterData | json }}</div>
<h3>Result (Age less than 15)</h3>
<div>{{filterResult | json}}</div>
<hr>
<h2>every()</h2>
<h3>Data</h3>
<div>{{everyData | json }}</div>
<h3>Result (Age grater than 13)</h3>
<div>{{everyResult | json}}</div>
<hr>
<h2>find()</h2>
<h3>Data</h3>
<div>{{findData | json }}</div>
<h3>Result (Age grater than 14)</h3>
<div>{{findResult | json}}</div>
<hr>

<h2>findIndex()</h2>
<h3>Data</h3>
<div>{{findIndexData | json }}</div>
<h3>Result (name is equal to abc2)</h3>
<div>{{findIndexResult | json}}</div>
<hr>

<h2>flat()</h2>
<h3>Data</h3>
<div>{{flatData | json }}</div>
<h3>Result (flat result)</h3>
<div>{{flatResult | json}}</div>
<hr>

<h2>flatMap()</h2>
<h3>Data</h3>
<div>{{flatMapData | json }}</div>
<h3>Result (flatMap result)</h3>
<div>{{flatMapResult | json}}</div>
<hr>

<h2>foreach()</h2>
<h3>Data</h3>
<div>{{foreachData | json }}</div>
<h3>Result (foreach result)</h3>
<div>{{foreachData | json}}</div>
<hr>

<h2>includes()</h2>
<h3>Data</h3>
<div>{{includesData | json }}</div>
<h3>Result (includes result)</h3>
<div>{{includesResult | json}}</div>
<hr>

<h2>indexOf()</h2>
<h3>Data</h3>
<div>{{indexOfData | json }}</div>
<h3>Result (indexOf result)</h3>
<div>{{indexOfResult | json}}</div>
<hr>

<h2>join()</h2>
<h3>Data</h3>
<div>{{joinData | json }}</div>
<h3>Result (join result)</h3>
<div>{{joinResult | json}}</div>
<hr>

<h2>keys()</h2>
<h3>Data</h3>
<div>{{keysData | json }}</div>
<h3>Result (keys result)</h3>
<div>{{keysResult | json}}</div>
<hr>

<h2>lastIndexOf()</h2>
<h3>Data</h3>
<div>{{lastIndexOfData | json }}</div>
<h3>Result (keys result)</h3>
<div>{{keysResult | json}}</div>
<hr>

<h2>map()</h2>
<h3>Data</h3>
<div>{{mapData | json }}</div>
<h3>Result (map result)</h3>
<div>{{mapResult | json}}</div>
<hr>

<h2>pop()</h2>
<h3>Data</h3>
<div>{{popData | json }}</div>
<h3>Result (pop result)</h3>
<div>{{popResult | json}}</div>
<hr>

<h2>push()</h2>
<h3>Data</h3>
<div>{{pushData | json }}</div>
<h3>Result (push result)</h3>
<div>{{pushResult | json}}</div>
<hr>

<h2>reduce()</h2>
<h3>Data</h3>
<div>{{reduceData | json }}</div>
<h3>Result (reduce result)</h3>
<div>{{reduceResult | json}}</div>
<hr>

<h2>reduceRight()</h2>
<h3>Data</h3>
<div>{{reduceRightData | json }}</div>
<h3>Result (reduceRight result)</h3>
<div>{{reduceRightResult | json}}</div>
<hr>

<h2>reverse()</h2>
<h3>Data</h3>
<div>{{reverseData | json }}</div>
<h3>Result (reverse result)</h3>
<div>{{reverseResult | json}}</div>
<hr>

<h2>shift()</h2>
<h3>Data</h3>
<div>{{shiftData | json }}</div>
<h3>Result (shift result)</h3>
<div>{{shiftResult | json}}</div>
<hr>

<h2>slice()</h2>
<h3>Data</h3>
<div>{{sliceData | json }}</div>
<h3>Result (slice result)</h3>
<div>{{sliceResult | json}}</div>
<hr>

<h2>some()</h2>
<h3>Data</h3>
<div>{{someData | json }}</div>
<h3>Result (some result)</h3>
<div>{{someResult | json}}</div>
<hr>

<h2>sort()</h2>
<h3>Data</h3>
<div>{{sortData | json }}</div>
<h3>Result (sort result)</h3>
<div>{{sortResult | json}}</div>
<hr>

<h2>splice()</h2>
<h3>Data</h3>
<div>{{spliceData | json }}</div>
<h3>Result (splice result)</h3>
<div>{{spliceResult | json}}</div>
<hr>

<h2>toString()</h2>
<h3>Data</h3>
<div>{{tostringData | json }}</div>
<h3>Result (tostring result)</h3>
<div>{{tostringResult | json}}</div>
<hr>

<h2>Unshift()</h2>
<h3>Data</h3>
<div>{{unshiftData | json }}</div>
<h3>Result (unshift result)</h3>
<div>{{unshiftResult | json}}</div>
<hr>
<h2>concat()</h2>
<h3>Data</h3>
<div>{{concatData | json }}</div>
<h3>Result (concat result)</h3>
<div>{{concatResult | json}}</div>
<hr>

<h2>copyWithin()</h2>
<h3>Data</h3>
<div>{{copyWithinData | json }}</div>
<h3>Result (copyWithin result)</h3>
<div>{{copyWithinResult | json}}</div>
<hr>

<h2>fill()</h2>
<h3>Data</h3>
<div>{{fillData | json }}</div>
<h3>Result (fill result)</h3>
<div>{{fillResult | json}}</div>
<hr>