
<div class="container">
    <div class="row">
        <div class="col-6">
           
            <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
                <label for="">Id</label>
                <input type="number" placeholder="Enter Id" class="form-control" formControlName="id">
                <span class="text-danger" *ngIf="(registrationForm.get('id')?.touched || submitted) && registrationForm.get('id')?.errors?.['required']">
                   Id is required
                </span>
            </div>

            <div class="form-group">
                <label for="">Name</label>
                <input type="text" placeholder="Enter Name" class="form-control" formControlName="name">
                <span class="text-danger" *ngIf="(registrationForm.get('name')?.touched || submitted) && registrationForm.get('name')?.errors?.['required']">
                    Name is required
                </span>
            </div>

            <div class="form-group">
                <label for="">Age</label>
                <input type="number" placeholder="Enter Age" class="form-control" formControlName="age">
                <div class="text-danger" *ngIf="(registrationForm.get('age')?.touched || submitted)">
                   <span *ngIf="registrationForm.get('age')?.errors?.['required']">Age is required</span>
                   <span *ngIf="registrationForm.get('age')?.errors?.['min']">Age must be 18 or more</span>
                   <span *ngIf="registrationForm.get('age')?.errors?.['max']">Age must be less than 75</span>
                </div>
            </div>

            <div class="form-group">
                <label for="">Email</label>
                <input type="text" placeholder="Enter Email" class="form-control" formControlName="email">
                <div class="text-danger" *ngIf="(registrationForm.get('email')?.touched || submitted)">
                    <span *ngIf="registrationForm.get('email')?.errors?.['required']">Email is required</span>
                    <span *ngIf="registrationForm.get('email')?.errors?.['pattern']">Please Enter Valid Email</span>
                </div>
            </div>

            <button>Submit</button>
        </form>
         
        </div>
    </div>
</div>
