<!-- <h2>{{strData | titlecase}}</h2>
<h2>{{strData | uppercase}}</h2>
<h6>{{myDate | date: 'shortDate'}}</h6>
<h6>{{myDate | date: 'fullDate'}}</h6>
<h6>{{myDate | date: 'dd/MM/yy'}}</h6>
<h6>{{myDate | date: 'long'}}</h6>
<h6>{{myDate | date: 'full'}}</h6>
<h6>{{ a | percent }}</h6>
<h6>{{ a | currency }}</h6>
<hr>

<div class="container">
    <input type="text" placeholder="search here" class="form-control" [(ngModel)]="filterText"><br>

    <div class="row">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Role</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of employees | filter:filterText">
                    <td>{{item.id}}</td>
                    <td>{{item.name}}</td>
                    <td>{{item.role}}</td>
                </tr>
            </tbody>
        </table>
        </div>
    </div>

    <app-inbuilt-directive></app-inbuilt-directive>
    <app-custom-directive></app-custom-directive>

    

    <app-array-methods></app-array-methods>

    <div *ngIf="rating >4  else myelsepart">
        Great..! You have good ratings.
    </div>

    <ng-template #myelsepart> 
       Sorry..! You have less ratings.
    </ng-template>
     -->
  <ul>
    <li><a routerLink="custom-directive">customDirectve</a></li>
    <li><a routerLink="inbuilt-directive">inbuiltDirectve</a></li>
    <li><a routerLink="array-methods">ArrayMethods</a></li>
    <li><a routerLink="tdf">Tdf</a></li>
    <li><a routerLink="nested-tdf">nested-tdf</a></li>
    <li><a routerLink="reactiveform">reactiveform</a></li>
    <li><a routerLink="parentToChild">parentToChild</a></li>
    <li><a routerLink="one">One</a></li>
    <li><a routerLink="two">Two</a></li>
    <li><a routerLink="cascadingDropdown">cascadingDropdown</a></li>
    <li><a routerLink="ApiIntegration">ApiIntegration</a></li>
    
  </ul>
     <router-outlet></router-outlet>

     