<div class="container">
    <div class="row">
        <div class="col-6">

            {{myForm.submitted}}
            <hr> 
            {{myForm.value | json}}
         
            
             <form #myForm="ngForm" (ngSubmit)="onSubmit(myForm.value)">
            <div class="form-group">
               <label >Id</label>
               <input name="id" ngModel #Id="ngModel" type="number" placeholder="Enter Id" class="form-control" required>
                <div class="alert alert-danger" *ngIf="myForm.submitted && Id.errors">
                   <div *ngIf="Id.errors?.['required']">Id is required</div>
                </div>
            </div>

            <div class="form-group">
                <label >Name</label>
                <input name="name" #Name="ngModel"   ngModel type="string" placeholder="Enter Name" minlength="3" class="form-control" required>
                <div class="alert alert-danger" *ngIf="myForm.submitted && Name.errors">
                    <div *ngIf="Name.errors?.['required']">Name is required</div>
                 </div>
             </div>

             <div class="form-group">
                <label >Age</label>
                <input name="age" #Age="ngModel" ngModel type="number" placeholder="Enter Age" class="form-control" min="10" required>
                <div class="alert alert-danger" *ngIf="myForm.submitted && Age.errors">
                    <div *ngIf=" Age.errors?.['required']">Age is required</div>
                 </div>
             </div>

            <h6><label>Address :</label></h6>
            <div ngModelGroup="address" #address="ngModelGroup">
                <div class="form-group">
                    <label>House No</label>
                    <input ngModel name="houseNo" #HouseNo="ngModel" class="form-control" placeholder="Enter your House No" required>
                 <div class="alert alert-danger" *ngIf="myForm.submitted && HouseNo.errors">
                    <div *ngIf=" HouseNo.errors?.['required']">House No is required</div>
                 </div>
                </div>

                <div>
                    <label>Colony</label>
                    <input ngModel name="colony" #Colony="ngModel" placeholder="Enter your colony" class="form-control" required>
                   <div class="alert alert-danger" *ngIf="myForm.submitted && Colony.errors">
                    <div *ngIf=" Colony.errors?.['required']">Colony is required</div>
                   </div>
                </div>

                <div>
                    <label>Country</label>
                    <select ngModel #Country="ngModel" class="form-control" name="country" required>
                        <option value="">Select Country</option>
                        <option>India</option>
                        <option>Japan</option>
                        <option>China</option>
                    </select>
                    <div class="alert alert-danger" *ngIf="myForm.submitted && Country.errors">
                        <div *ngIf=" Country.errors?.['required']">Country is required</div>
                    </div>
                </div>

                <div>
                    <label>State</label>
                    <select ngModel #State="ngModel" class="form-control" name="state" ngModel required>
                        <option value="">Select State</option>
                        <option>Maharastra</option>F
                        <option>Gujrat</option>
                        <option>Telangana</option>
                    </select>
                    <div class="alert alert-danger" *ngIf="myForm.submitted && State.errors">
                        <div *ngIf=" State.errors?.['required']">State is required</div>
                    </div>
                </div>

                <div>
                    <label>City</label>
                    <select class="form-control" ngModel #City="ngModel" name="city" required>
                        <option value="">Select City</option>
                        <option value="{{item}}" *ngFor="let item of cities" >{{item}}</option>
                    </select>
                    <div class="alert alert-danger" *ngIf="myForm.submitted && City.errors">
                        <div *ngIf=" City.errors?.['required']">City is required</div>
                    </div>
                </div>
            </div><br>
             <button class="btn btn-success">Submit</button>
            </form> 
        </div>
    </div>
</div> <hr>





<!-- <form #myForm2="ngForm" (ngSubmit)="onSubmit2(myForm2.value)">

    {{model | json}}
    <div>
      <label>Name :</label>
      <input type="text" name="firstName" [(ngModel)]="model.name"  required>
    </div>
    <div>
        <label>Age :</label>
        <input type="number" name="age" [(ngModel)]="model.age"  required>
    </div>

    <h6><label>Address :</label></h6>
        <div ngModelGroup="address" #address="ngModelGroup">
            <div class="form-group">
                <label>House No :</label>
                <input ngModel name="houseNo" [(ngModel)]="model.addresses[0].houseNo" #HouseNo="ngModel" placeholder="Enter your House No" required>
            </div>
                
            <div>
                <label>City :</label>
                <select  [(ngModel)]="model.addresses[0].city" ngModel name="city">
                     <option value="">Select City</option>
                     <option value="{{item}}" *ngFor="let item of cities" >{{item}}</option>
                </select>
            </div>

            <div>
                <label>Colony :</label>
                <input ngModel name="colony" #Colony="ngModel" [(ngModel)]="model.addresses[0].colony" placeholder="Enter your colony" required>
            </div>

            <div>
                <label>State :</label>
                <select  [(ngModel)]="model.addresses[0].state" name="state" ngModel>
                    <option value="">Select State</option>
                    <option>Maharastra</option>
                    <option>Gujrat</option>
                    <option>Telangana</option>
                 </select>
            </div>

            <div>
            <label>Country :</label>
                <select [(ngModel)]="model.addresses[0].country" name="country" ngModel>
                    <option value="">Select Country</option>
                    <option>India</option>
                    <option>Japan</option>
                    <option>China</option>
                </select>
            </div>
                 
            </div><br>
     
     <button>submit</button>
  </form>
<hr> -->
<hr>
  <table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Age</th>
            <th>House No</th>
            <th>Colony</th>
            <th>Country</th>
            <th>State</th>
            <th>City</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{myData.id}}</td>
            <td>{{myData.name}}</td>
            <td>{{myData.age}}</td>
            <td>{{myData.address.houseNo}}</td>
            <td>{{myData.address.colony}}</td>
            <td>{{myData.address.country}}</td>
            <td>{{myData.address.state}}</td>
            <td>{{myData.address.city}}</td>
        </tr>
    </tbody>
  </table>
  <hr>

  
   